.social.links.figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.83333em;
}

.social.links.figure > div {
  margin: 0 1em;
  cursor: pointer;
}

.share-count {
  text-align: center;
}
