.post.listing.figure {
  margin: 0 auto;
  padding: 0.83333em;
}

.post.listing.figure .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post.listing.figure .list .item {
  margin-bottom: 1.83333em;
}

.post.listing.figure .list .item .link {
  text-decoration: none;
}

.post.listing.figure .list .item .title {
  margin: 0;
  margin-bottom: 0.43333em;
  transition: all 250ms;
  text-transform: initial;
}

.post.listing.figure .list .item .link:hover .title {
  color: #00ccff;
}

.post.listing.figure .list .item .title .sub {
  display: block;
  border: 0;
  color: #00ccff;
  font-size: 50%;
}

.post.listing.figure .list .item .excerpt {
  color: #4c4c4c;
}
