.header {
  padding: 0.83333em;
}

.header .logo.image {
  position: absolute;
  right: 0.83333em;
  width: 3em;
  height: 3em;
  margin: 0;
  z-index: 1;
}

@media only screen and (min-width: 48em) {
  .header .logo.image {
    right: auto;
    width: 6em;
    height: 6em;
  }
}

.header .title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0.83333em;
  text-transform: uppercase;
}

@media only screen and (min-width: 48em) {
  .header .title {
    margin-top: 0.43333em;
    margin-left: 3.43333em;
  }
}

.header .title .sub {
  display: block;
  max-width: 85%;
  padding-top: 0.433333em;
  border-top: 0.17604em solid #00ccff;
  font-size: 50%;
  text-transform: initial;
}

@media only screen and (min-width: 30em) {
  .header .title .sub {
    max-width: 100%;
  }
}
